<html>
	<body style="background-image: url(<%= asset_path 'background.png' %>); background-size: cover; background-repeat: no-repeat;">
		<table>
		<% if user_signed_in? %>
			<div class="container">
				<a class="navbar-link" rel="nofollow" data-method="delete" href="/users/sign_out"><button class="btnA">Sair</button></a>
				<a href="/users/edit"><button class="btnB">Editar perfil</button></a>					
			</div>
			<div class="email">
				<strong><%= current_user.email %></strong>
			</div>
		<% else %>
  			<div>
				<a href="/users/sign_in	"><button class="btnA">Login</button></a>
				<a href="/users/sign_up"><button class="btnB">Cadastrar-se</button></a>					
			</div>	
		<% end %>
		</table>
	</body>
</html>

