<html>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <body style="background-image: url(<%= asset_path 'background.png' %>); background-size: cover; background-repeat: no-repeat;">
        <div style="position: fixed; margin-top:15%; margin-left: 32%; text-align: left;">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "Seu e-mail" %>
        </div> 
        <div style="position: fixed; margin-top: 18%; margin-left: 32%; text-align: left;">
          <%= f.label :senha %><br />
          <%= f.password_field :password, autocomplete: "Sua senha" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="loginrem">
            <%= f.check_box :remember_me %>
            <%= f.label :Lembrar %>
          </div>
        <% end %>
        <div style="position: fixed; margin-top: 22.5%; margin-left: 32%; text-align: center;">
          <%= f.submit "Log in" %>
        </div>
        <div class="l">
          <%= render "devise/shared/links" %>
        </div>
  </body>
  <% end %>
</html>

