.btnA {
    position: fixed;
    margin-top: 18%;
    margin-left: 38.4%;
    transform: translate(-50%, -50%);
    background-color: #fbfbfb;
    color: black;
    font-size: 24px;
    border: none;
    cursor: pointer;
    text-align: center;
}
.btnB {
    position: fixed;
    margin-top: 23%;
    margin-left: 38.4%;
    transform: translate(-50%, -50%);
    background-color: #fbfbfb;
    color: black;
    font-size: 24px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.email {
    position: absolute;
    top: 51%;
    left: 40%;
    text-align: center;
}

.loginemail {
    position: absolute;
    top: 18.5%;
    left: 33.5%;
    text-align: left;
}

.loginpass {
    position: fixed;
    margin-top: 22.5%;
    margin-left: 33.5%;
    text-align: left;
}

.loginrem {
    position: fixed;
    margin-top: 21%;
    margin-left: 31.7%;
    text-align: left;
}

.loginbtn {
    position: absolute;
    top: 34.5%;
    left: 33.5%;
    text-align: center;
}

.l {
    position: fixed;
    margin-top: 21.7%;
    margin-left: 37.6%;
    text-align: left;
}

